---
layout: default
---

<h1>{{ page.title }}</h1> 

<p class="postdate">
{{ page.date | date: "%Y/%m/%d" }}
{% if page.updatedate %}
(updated: {{ page.updatedate | date: "%Y/%m/%d" }})
{% endif %}
</p>

<!-- todo:
add looping through space or comma-delimited values in lang
put in separate include
language labels to data file
-->
<!--
{% if page.lang == "nl" %}
(nederlands)
{% elsif page.lang == "en" %}
(en)
{% else %}
(no language tag)
{% endif %}
-->

<!-- {{ page.tag }} -->

<!--
* TOC
{:toc}
-->

{{ content }}